#formFoPrice {
    width: 230px;
    background-color: #B8C8F7;
    padding: 0 20px 0 35px;
    text-align: right;
    border-radius: 10px;
}

.validation-span {
    display: inline-block;
    width: 160px;
    height: 15px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}

#inputPrice {
    display: inline;
    margin-bottom: 5px;
}

#inputPrice:focus {
    border: 2px solid green;
    box-shadow: green;


}